line-bot-sdk==2.3.0
bs4
flask==2.1.2
pymongo==4.1.1
datetime==4.4
pandas==1.4.2
SnowNLP
emoji==1.7.0
pyshorteners
scipy==1.8.1

waitress==2.1.2

jsonref~=0.2

opencv-python
numpy==1.23.0
matplotlib==3.5.2
